@import "vars";
@import "mixins";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: $colorPrimary950;
  font-family: 'Montserrat', sans-serif;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: 500;
}

h2 {
  //padding-left: 30px;
  font-weight: 700;
  font-size: 26px;
}

body {
  background-color: $colorSecondary50;

}

.container {
  max-width: $displayWidth;
  margin: 0 auto;
  height: 100%;
  background-color: transparent;
}

.text-active {
  font-weight: 600;
}

.invisible {
  display: none;
}

.check {
  accent-color: $colorSecondary;
  cursor: pointer;
}

.btn {
  padding: 8px;
  @include brd-standard;
  transition: 0.2s ease color;
  cursor: pointer;

  &__save {
    background-color: $colorSecondary;
    border-color: $colorSecondary;
    color: $colorSecondary50;

    & * {
      color: $colorSecondary50;
    }

    &:hover {
      background-color: $colorSecondary50;
      color: $colorSecondary;
    }

    &:hover * {
      background-color: $colorSecondary50;
      color: $colorSecondary;

    }
  }

  &__cancel {
    background-color: $colorNeutral500;
    border-color: $colorNeutral500;
    color: $colorSecondary50;

    & * {
      color: $colorSecondary50;
    }

    &:hover {
      background-color: $colorSecondary50;
      color: $colorNeutral500;
    }

    &:hover * {
      //background-color: $colorSecondary50;
      color: $colorNeutral500;
    }
  }

  &__disabled {
    opacity: 0.3;

    & * {
      opacity: 0.2;
    }

  }

  &__neutral {
    background-color: $colorPrimary500;
    border-color: $colorPrimary500;
    color: $colorSecondary50;

    &:hover {
      background-color: $colorSecondary50;
      color: $colorPrimary500;
    }
  }

}

.tooltip {
  position: relative;
  display: inline-block;

  &:hover .tooltip-text {
    visibility: visible;
  }
}

.tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: #fff;
  text-align: center;
  @include brd-standard;
  padding: 4px 0;
  position: absolute;
  z-index: 1;
  top: 24px;
  right: 60%;

  //&::after {
  //  content: " ";
  //  position: absolute;
  //  top: 50%;
  //  right: 100%; /* To the left of the tooltip */
  //  margin-top: -5px;
  //  border-width: 5px;
  //  border-style: solid;
  //  border-color: transparent $colorPrimary transparent transparent;
  //}
}


@media (max-width: 1330px) {
  .container {
    padding: 0 30px;
  }

}