$colorSecondary: #009EA3;

$colorSecondary50:  #F2FFFF;
$colorSecondary100: #00E7EF;
$colorSecondary200: #00D2D9;
$colorSecondary300: #00BFC5;
$colorSecondary500: #009EA3;

$colorNeutral50: #969696;
$colorNeutral100: #828282;
$colorNeutral200: #717171;
$colorNeutral300: #626262;
$colorNeutral400: #555;
$colorNeutral500: #4A4A4A;
$colorNeutral600: #3f3f3f;
$colorNeutral700: #363636;
$colorNeutral800: #2e2e2e;
$colorNeutral900: #272727;
$colorNeutral950: #212121;

$colorPrimary: #0F4880;

$colorPrimary500: #0F4880;
$colorPrimary950: #071F39;

$displayWidth: 1500px;
