* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #071F39;
  font-family: "Montserrat", sans-serif;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: 500;
}

h2 {
  font-weight: 700;
  font-size: 26px;
}

body {
  background-color: #F2FFFF;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  height: 100%;
  background-color: transparent;
}

.text-active {
  font-weight: 600;
}

.invisible {
  display: none;
}

.check {
  accent-color: #009EA3;
  cursor: pointer;
}

.btn {
  padding: 8px;
  border: 1px solid #0F4880;
  border-radius: 12px;
  transition: 0.2s ease color;
  cursor: pointer;
}
.btn__save {
  background-color: #009EA3;
  border-color: #009EA3;
  color: #F2FFFF;
}
.btn__save * {
  color: #F2FFFF;
}
.btn__save:hover {
  background-color: #F2FFFF;
  color: #009EA3;
}
.btn__save:hover * {
  background-color: #F2FFFF;
  color: #009EA3;
}
.btn__cancel {
  background-color: #4A4A4A;
  border-color: #4A4A4A;
  color: #F2FFFF;
}
.btn__cancel * {
  color: #F2FFFF;
}
.btn__cancel:hover {
  background-color: #F2FFFF;
  color: #4A4A4A;
}
.btn__cancel:hover * {
  color: #4A4A4A;
}
.btn__disabled {
  opacity: 0.3;
}
.btn__disabled * {
  opacity: 0.2;
}
.btn__neutral {
  background-color: #0F4880;
  border-color: #0F4880;
  color: #F2FFFF;
}
.btn__neutral:hover {
  background-color: #F2FFFF;
  color: #0F4880;
}

.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip:hover .tooltip-text {
  visibility: visible;
}

.tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: #fff;
  text-align: center;
  border: 1px solid #0F4880;
  border-radius: 12px;
  padding: 4px 0;
  position: absolute;
  z-index: 1;
  top: 24px;
  right: 60%;
}

@media (max-width: 1330px) {
  .container {
    padding: 0 30px;
  }
}
.login-cms {
  top: 20%;
  left: 60%;
  border: 1px solid #0F4880;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 22px 16px 12px 16px !important;
  width: 300px;
  gap: 8px;
}
.login-cms__input {
  border: 1px solid #0F4880;
  border-radius: 12px;
  padding: 8px;
  width: 100%;
}
.login-cms__btn-block {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-end;
}

.dropdown {
  position: relative;
}
.dropdown__input {
  width: 100%;
  border: 1px solid #0F4880;
  border-radius: 12px;
  padding: 8px;
  position: relative;
  background-color: transparent;
}
.dropdown__input_icon {
  position: absolute;
  right: 0;
  padding: 8px;
  z-index: -3;
}
.dropdown__list {
  position: absolute;
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  z-index: 3;
  border: 1px solid #0F4880;
  border-radius: 12px;
  background-color: #fff;
}
.dropdown__list_item {
  font-size: 14px;
  padding: 8px;
}
.dropdown__list_item:hover {
  background-color: rgba(74, 74, 74, 0.3);
}

.menu {
  height: 60px;
  width: 100%;
  background-color: #009EA3;
  position: fixed;
  top: 0;
  padding: 0 6px;
  z-index: 10;
}
.menu__line {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.menu__left {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
}
.menu__item {
  cursor: pointer;
  transition: 0.4s ease transform;
}
.menu__item_bold {
  font-weight: 600;
  scale: 1.2;
}
.menu__item div, .menu__item img {
  display: inline-block;
}
.menu__item:hover {
  transform: scale(1.1);
  font-weight: 600;
}
.menu__item_bold {
  font-weight: 600;
  scale: 1.1;
}
.menu__logo {
  height: 40px;
}
.menu__right {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}
.menu__right:hover {
  transform: scale(1.1);
}
.menu__right:hover div {
  font-weight: 600;
}

@media (max-width: 1360px) {
  .menu__left {
    gap: 20px;
  }
}
.content {
  display: flex;
  margin-top: 68px;
  gap: 8px;
}
.content__left {
  display: flex;
  flex-direction: column;
  width: 14vw;
  border: 1px solid #0F4880;
  border-radius: 12px;
  padding: 20px;
  gap: 20px;
  max-height: calc(100% - 78px);
  position: fixed;
  overflow: auto;
}
.content__right {
  display: flex;
  flex-direction: column;
  margin-left: calc(14vw + 14px);
  width: 100%;
}

.section-left {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.section-left :hover {
  font-weight: 600;
}
.section-left__content {
  padding: 12px 0 0 14px;
  cursor: pointer;
}
.section-left__content :hover {
  font-weight: 600;
}

.dictionary-frame {
  width: 100%;
  border: 1px solid #0F4880;
  border-radius: 12px;
  padding: 8px;
  margin-bottom: 8px;
  min-height: 160px;
}
.dictionary-frame__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
  width: 100%;
  border: 1px solid #0F4880;
  border-radius: 12px;
  border-color: transparent;
  background-color: rgba(0, 158, 163, 0.3);
}
.dictionary-frame__header_left {
  padding: 8px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 16px;
}
.dictionary-frame__header_right {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}
.dictionary-frame__input {
  padding: 8px;
  border: 1px solid #0F4880;
  border-radius: 12px;
  width: 320px;
}
.dictionary-frame__label {
  font-size: 14px;
  margin-right: 12px;
  margin-left: -4px;
  cursor: pointer;
}

.dictionary-content {
  max-height: calc(100vh - 190px);
  overflow: auto;
}
.dictionary-content__header {
  font-size: 18px;
  font-weight: bold;
}
.dictionary-content__title {
  position: sticky;
  top: 0;
  background-color: #F2FFFF;
}
.dictionary-content__title_item {
  font-weight: 600;
  font-size: 14px;
  text-wrap: pretty;
  word-break: break-all;
}
.dictionary-content__row {
  display: grid;
  gap: 6px;
  align-items: center;
  padding: 4px 12px 2px 4px;
}
.dictionary-content__row:hover {
  background-color: rgba(74, 74, 74, 0.2);
}
.dictionary-content__row_item {
  font-size: 14px;
  text-wrap: pretty;
  word-break: break-all;
}
.dictionary-content__row_img {
  height: 36px;
  overflow: hidden;
  content: inherit;
  transition: 0.2s ease transform;
  border: 1px solid #0F4880;
  border-radius: 12px;
  border-radius: 4px;
}
.dictionary-content__row_img:hover {
  transform: scale(3);
}
.dictionary-content__check {
  height: 16px;
  width: 16px;
  accent-color: #0F4880;
}
.dictionary-content__square {
  width: 14px;
  height: 14px;
}

.modal {
  top: 15%;
  left: 20%;
  max-width: 1100px;
  min-width: 800px;
  border: 1px solid #0F4880;
  border-radius: 12px;
  padding: 8px;
  box-shadow: 4px 4px 6px #4A4A4A;
  overflow: visible;
}
.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 158, 163, 0.3);
  border: 1px solid #0F4880;
  border-radius: 12px;
  border-color: transparent;
  padding: 8px;
}
.modal__header_btn {
  background-color: transparent;
  border: none;
  font-size: 18px;
}
.modal__form {
  margin-top: 12px;
}
.modal__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr 1.5fr);
  grid-auto-flow: row;
  gap: 12px;
  height: 100%;
}
.modal__content_item {
  display: flex;
  align-items: center;
  padding: 12px 8px;
}
.modal__content_label {
  align-self: center;
}
.modal__content_number {
  border: 1px solid #0F4880;
  border-radius: 12px;
  padding: 8px;
}
.modal__content_text {
  border: 1px solid #0F4880;
  border-radius: 12px;
  padding: 8px;
}
.modal__content_textarea {
  border: 1px solid #0F4880;
  border-radius: 12px;
  min-height: 66px;
  padding: 8px;
  resize: vertical;
}
.modal__content_date {
  border: 1px solid #0F4880;
  border-radius: 12px;
  padding: 8px;
}
.modal__content_checkbox {
  accent-color: #009EA3;
  cursor: pointer;
  transform: scale(0.7);
}
.modal__content_file-frame {
  border: 1px solid #0F4880;
  border-radius: 12px;
  min-width: 400px;
  height: 33.6px;
  position: relative;
  padding: 8px 4px;
  overflow: hidden;
  transition: 0.2s ease background-color;
}
.modal__content_file-frame-short {
  min-width: 360px;
  margin-left: 4px;
}
.modal__content_file-frame:hover {
  background-color: rgba(0, 158, 163, 0.1);
}
.modal__content_file {
  left: -30%;
  width: 520px;
  top: -2px;
  padding: 8px 4px;
  position: absolute;
}
.modal__content_file-short {
  width: 480px;
  left: -33%;
}
.modal__content_image {
  height: 36px;
  border: 1px solid #0F4880;
  border-radius: 12px;
  border-radius: 4px;
  transition: 0.2s ease transform;
}
.modal__content_image:hover {
  transform: scale(4);
}
.modal__content_span {
  display: flex;
}
.modal__button-block {
  min-width: 100%;
  padding: 8px 0;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: flex-end;
}

.border-alert {
  border-color: red;
  border-width: 2px;
}

.catalogue {
  display: grid;
  gap: 10px;
  grid-template-columns: 0.5fr 2fr 2fr 1.5fr 1.5fr 4fr 0.5fr 3fr 2fr 0.95fr;
  align-items: center;
  padding: 4px 10px;
}
.catalogue__modal {
  top: 15%;
  left: 30%;
  border: 1px solid #0F4880;
  border-radius: 12px;
  padding: 8px;
  box-shadow: 4px 4px 6px #4A4A4A;
  width: 360px;
  overflow: visible;
}
.catalogue__modal_file-input {
  position: absolute;
  top: 0;
  left: -116px;
  z-index: 3;
  padding: 6px 0;
  width: 456px;
}
.catalogue__top {
  height: 100%;
}
.catalogue__title {
  padding-right: 28px;
}
.catalogue__title * {
  font-size: 14px;
}
.catalogue__title-item {
  font-weight: 600;
}
.catalogue__content {
  overflow-y: scroll;
  height: calc(100vh - 180px);
}
.catalogue__row {
  position: relative;
}
.catalogue__row:has(.catalogue__img:hover) {
  grid-template-columns: 0.5fr 6.5fr 2fr 1.5fr 1.5fr 0.5fr 3fr 2fr 0.95fr;
}
.catalogue__row * {
  text-wrap: wrap;
}
.catalogue__input {
  border: 1px solid #0F4880;
  border-radius: 12px;
  border-color: transparent;
  background-color: #F2FFFF;
  padding: 7px 0;
  word-break: break-word;
}
.catalogue__check {
  height: 22px;
  width: 22px;
}
.catalogue__img {
  max-height: 36px;
  max-width: 240px;
  transition: transform 0.6s ease;
}
.catalogue__img:hover {
  position: absolute;
  left: 30%;
  z-index: 10;
  max-height: 300px;
  max-width: 600px;
  transform: scale(1.1);
}
.catalogue__file {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}
.catalogue__file_text {
  position: absolute;
  padding-left: 8px;
  font-size: 14px;
  text-wrap: wrap;
  width: inherit;
  overflow-wrap: break-word;
}
.catalogue__file_input {
  color: transparent;
  position: absolute;
  text-wrap: wrap;
  top: -2px;
  left: -116px;
  z-index: 3;
  padding: 6px 0;
}
.catalogue__input-frame {
  position: relative;
  border: 1px solid #0F4880;
  border-radius: 12px;
  overflow: hidden;
  padding: 16px;
  width: 100%;
}
.catalogue__btn-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.catalogue__icon {
  padding: 0 3px;
}

.main_color_text {
  font-size: 14px;
}

.goods_option_text {
  font-size: 14px;
}

.error-message {
  color: red;
  padding: 8px 0;
  display: none;
}

.alert {
  border: 1px solid #0F4880;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  top: 15%;
  max-height: 600px;
  overflow: auto;
  left: 30%;
  width: 800px;
  padding: 20px 16px 16px 16px;
  box-shadow: 4px 4px 6px #4A4A4A;
}
.alert__header {
  background-color: rgba(0, 158, 163, 0.5);
  border: 1px solid #0F4880;
  border-radius: 12px;
  border-color: transparent;
  display: flex;
  justify-content: space-between;
  padding: 6px;
}
.alert__element {
  display: grid;
  padding: 3px;
  grid-template-columns: repeat(3, 1fr) 2fr;
  gap: 16px;
}

.price__modal_date {
  border: 1px solid #0F4880;
  border-radius: 12px;
  padding: 6px;
}
.price__modal_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 0;
}
.price__modal_label {
  padding: 0 6px;
}
.price__modal_btn {
  width: 100%;
  margin-top: 10px;
}
.price__modal_check {
  height: 18px;
  width: 18px;
  accent-color: #009EA3;
}
.price__modal_border-alert {
  border-color: red;
  border-width: 2px;
}

.price-header {
  display: grid;
  gap: 16px;
  align-items: center;
  padding: 6px 20px 6px 6px;
}
.price-header__item {
  font-weight: 700;
}

.price-content {
  overflow: auto;
  max-height: calc(100vh - 190px);
}
.price-content__volume-header {
  font-weight: 700;
  padding: 16px;
  background-color: rgba(74, 74, 74, 0.2);
  border: 1px solid #0F4880;
  border-radius: 12px;
  border-color: transparent;
}

.price-row {
  display: grid;
  gap: 16px;
  align-items: center;
  padding: 2px;
}
.price-row__item {
  border: 1px solid #0F4880;
  border-radius: 12px;
  padding: 6px;
  width: 100%;
  text-align: end;
  font-size: 16px;
}
.price-row__item_disabled {
  background-color: rgba(0, 158, 163, 0.05);
}
.price-row__name {
  padding: 6px;
  width: 100%;
  text-align: start;
}
.price-row__item-row {
  background-color: rgba(74, 74, 74, 0.1);
}

.price-dropdown {
  position: relative;
}
.price-dropdown__frame {
  display: flex;
  align-items: center;
  gap: 6px;
  border: 1px solid #0F4880;
  border-radius: 12px;
  padding: 8px;
  background-color: #fff;
}
.price-dropdown__input {
  font-size: 14px;
  border: transparent;
  width: 120px;
}
.price-dropdown__input:focus {
  outline: none;
}

.print-header {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 16px;
  padding: 6px;
  border: 1px solid #0F4880;
  border-radius: 12px;
  border-color: transparent;
  background-color: rgba(0, 158, 163, 0.05);
}

.type-table {
  padding: 4px;
}
.type-table__row {
  display: grid;
  gap: 6px;
  align-items: center;
  border: 1px solid #0F4880;
  border-radius: 12px;
  padding: 3px;
  border-color: transparent;
}
.type-table__header {
  background-color: rgba(74, 74, 74, 0.05);
}
.type-table__input {
  border: 1px solid #0F4880;
  border-radius: 12px;
  padding: 6px;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
