@import 'scss/vars';
@import 'scss/mixins';
@import "scss/main";
@import "scss/login";
@import "scss/dropDown";
@import "scss/header";
@import "scss/main_cms";
@import "scss/dictionary";
@import "scss/modal";
@import "scss/catalogue";
@import "scss/price";
@import "scss/user";
@import "scss/order";
@import "scss/files";