@import "vars";
@import "mixins";

.personal-data {
  @include brd-standard;
  padding: 24px 40px 16px 40px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 30px;

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }

  &__block {
    display: grid;
    align-items: center;
    gap: 30px;
    grid-template-columns: 1fr 4fr;
    height: 40px;
  }

  &__label {
    text-wrap: nowrap;
  }

  &__input {
    @include brd-standard;
    padding: 8px;
    font-size: 16px;
    width: 100%;
  }

  &__change {
    margin-top: 40px;
  }

  &__save {
    margin-top: 40px;
    //display: flex;
    //flex-direction: column;
  }
}

.legal-data {
  margin: 30px 0;
  padding: 24px 40px 16px 40px;
  @include brd-standard;
  display: flex;
}

.personal-btn {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.alert-border{
  border-color: red;
}

.alert {
  color: red;
}

//.input-disabled{

//}