@import "vars";
@import "mixins";

.personal-btn {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.personal-data {
  @include brd-standard;
  padding: 24px 40px 16px 40px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 30px;

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
  }

  &__block {
    display: grid;
    align-items: center;
    gap: 30px;
    grid-template-columns: 1fr 4fr;
    height: 40px;
  }

  &__label {
    text-wrap: nowrap;
  }

  &__input {
    @include brd-standard;
    padding: 8px;
    font-size: 16px;
    width: 100%;
  }

  &__change {
    display: flex;
    margin-top: 32px;
    gap: 16px;
  }

  &__save {
    margin-top: 32px;
    //display: flex;
    //flex-direction: column;
  }
}

.legal-data {
  margin: 30px 0;
  padding: 24px 40px 16px 40px;
  @include brd-standard;
  gap: 8px;

  &__title {
    display: grid;
    grid-template-columns: 3fr 8px 1fr;
    align-items: center;
    gap: 30px;
  }

  &__change {
    margin-top: 0;
  }

  &__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__inputs {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 30px;
    margin-top: 8px;
  }
}

.bank {
  cursor: pointer;
  margin-top: 8px;
  //@include brd-standard;
  //padding: 16px;

  &__name {
    @include brd-standard;
    //border-color: transparent;
    padding: 8px;
    font-size: 16px;
    width: calc(100% - 46px);
    margin-left: 30px;
  }

  &__summary {
    display: grid;
    grid-template-columns: 8px  3fr  1fr;
    align-items: center;
    gap: 30px;
    margin-top: 16px;
  }
}

.company {
  cursor: pointer;

  &[open] &__summary::before {
    content: "▼"; /* Иконка открытого состояния */
  }

  &__summary {
    display: grid;
    grid-template-columns: 8px  3fr  1fr;
    align-items: center;
    gap: 30px;
    margin-top: 16px;

    &::before {
      content: "▶"; /* Иконка закрытого состояния */
      font-size: 14px;
      transition: transform 0.2s;
    }
  }

  &__data-save {
    margin-top: 0;
  }

  &__save {
    display: flex;
    flex-direction: row;
    gap: 14px;

    & * {
      margin-bottom: 0;
    }
  }
}

.company-dialog {
  top: 40%;
  left: 30%;
  @include brd-standard;
  box-shadow: 6px 8px 18px rgba($colorPrimary, 0.5);
  padding: 4px;

  &__line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__block {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 8px;
  }

  &__btn-block {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: flex-end;
    padding: 8px;
  }

  &__input {
    @include brd-standard;
    border-color: transparent;
    padding: 8px;
    font-size: 16px;
    font-weight: 600;

    &_frame {
      border-color: $colorPrimary;
    }

    &_long{
      min-width: 240px;
    }
  }

  &__text {
    @include brd-standard;
    border-color: transparent;
    padding: 8px;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
  }


}

.legal-btn {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}


.alert-border {
  border-color: red;
}

.alert {
  color: red;
}

.company-alert {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 24px;
}

//.input-disabled{

//}