@import "vars";
@import "mixins";

.detail-page {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: $colorSecondary50;

  &__section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  &__gallery {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__main-image {
    position: relative;
    overflow: hidden;
    @include brd-standard;
    aspect-ratio: 1;
    width: 100%;
    max-width: 600px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      @include brd-standard;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  &__thumbnails {
    display: flex;
    gap: 1rem;
  }

  &__thumbnail {
    position: relative;
    overflow: hidden;
    @include brd-standard;
    height: 100px;
    width: 100px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      @include brd-standard;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__article {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__description {
    color: $colorPrimary;
    line-height: 1.6;
    margin: 0;
  }

  &__tabs {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__tab {
    article {
      color: $colorPrimary;
      line-height: 1.6;
    }
  }

  &__print-data,
  &__pack-data {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    padding: 0.5rem 0;
    border-bottom: 1px solid $colorPrimary;
  }

  @media (max-width: 768px) {
    &__content {
      grid-template-columns: 1fr;
    }

    &__print-data,
    &__pack-data {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__related {
    margin-top: 2rem;
    width: 100%;

    &_list {
      margin-top: 1rem;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 1.5rem;
      width: 100%;
    }

    &_item {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;
      @include brd-standard;
      text-decoration: none;
      transition: transform 0.3s ease;
      background-color: $colorSecondary50;

      &:hover {
        transform: scale(1.05);
      }

      & img {
        width: 100%;
        aspect-ratio: 1;
        object-fit: contain;
        @include brd-standard;
        background-color: $colorSecondary50;
      }
    }

    &_info {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }
  }

} 