@import 'vars';
@import 'mixins';

.menu {
  height: 60px;
  width: 100%;
  background-color: $colorSecondary;
  position: sticky;
  margin-top: 150px;
  top: 0;
  z-index: 10;

  &__line {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }

  &__left {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__item {
    cursor: pointer;
    padding: 16px 0;

    & div, img {
      display: inline-block;
    }

    :hover {
      font-weight: 800;
    }
  }

  &__logo {
    height: 40px;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__cabinet {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    padding: 16px 0;

    &:hover {
    }

    &:hover div {
      font-weight: 600;
    }
  }
}

.cart {
  display: flex;
  align-items: center;

  &:hover {
    transform: scale(1.2);
  }

}

.header {
  background-color: $colorPrimary;

  &__line {
    height: 240px;
    display: flex;
    justify-content: space-between;
    margin: -210px 0 30px 0;
  }

  &__left {
    color: $colorSecondary50;
    background-color: transparent;
    font-size: 48px;
    margin-top: 30px;
    z-index: 3;
  }

  &__social {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;

    &_item {
      color: $colorSecondary50;
    }
  }

  &__right img {
    height: 100%;
  }
}

.catalogue {
  position: relative;

  &__item {
    display: none;
    position: absolute;
    top: 44px;
    left: -8px;
    @include brd-standard;
    background-color: $colorSecondary50;
    width: 220px;
    padding: 8px 0;
    z-index: 9;

    & li {
      padding: 8px;

      &:hover {
        transform: scale(1);
        background-color: rgba($colorSecondary, 0.1);
      }
    }
  }

  &:hover &__item {
    display: block;
    transform: scale(1);
  }
}

@media (max-width: 1360px) {
  .menu {
    &__left {
      gap: 20px;
    }
  }
}