@import "vars";
@import "mixins";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: $colorPrimary;
  font-family: 'Montserrat', sans-serif;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: 500;
}

h2 {
  font-weight: 700;
  font-size: 26px;
}

body {
  background-color: $colorSecondary50;

}

a {
  text-decoration: none;
}

ul {
  list-style: none
}

input[type='checkbox'] {
  accent-color: $colorSecondary;
}

.container {
  max-width: $displayWidth;
  margin: 0 auto;
  height: 100%;
  background-color: transparent;
}

.btn {
  padding: 8px;
  @include brd-standard;
  transition: 0.2s ease color;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  &__save {
    background-color: $colorPrimary500;
    border-color: $colorPrimary500;
    color: $colorSecondary50;

    & * {
      color: $colorSecondary50;
    }

    &:hover {
      background-color: transparent;
      color: $colorPrimary950;
    }

    &:hover * {
      background-color: $colorSecondary50;
      color: $colorPrimary950;

    }
  }

  &__cancel {
    background-color: $colorSecondary500;
    border-color: $colorSecondary500;
    color: $colorSecondary50;

    & * {
      color: $colorSecondary50;
    }

    &:hover {
      background-color: transparent;
      color: $colorSecondary500;
    }

    &:hover * {
      color: $colorSecondary500;
    }
  }

  &__disabled {
    opacity: 0.3;

    & * {
      opacity: 0.2;
    }
  }

  &__neutral {
    background-color: $colorNeutral500;
    border-color: $colorNeutral500;
    color: $colorSecondary50;

    &:hover {
      background-color: transparent;
      color: $colorNeutral500;
    }
  }
}

.square {
  z-index: 6;
  height: 24px;
  width: 24px;
  border: 1px solid $colorPrimary500;
  border-radius: 6px;
}

.tooltip {
  position: relative;
  display: inline-block;

  &:hover .tooltip-text {
    visibility: visible;
  }
}

.tooltip-text {
  visibility: hidden;
  font-size: 13px;
  width: fit-content;
  background-color: #fff;
  text-align: center;
  text-wrap: nowrap;
  @include brd-standard;
  padding: 2px 4px;
  position: absolute;
  z-index: 20;
  top: -95%;
  left: 50%;
  overflow: visible;
}

.hr {
  margin-top: 8px;
}

.check {
  height: 20px;
  width: 20px;
}

@media (max-width: 1330px) {
  .container {
    padding: 0 30px;
  }

}