@import "vars";
@import "mixins";

.price-content {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  padding: 15px;
  margin-bottom: 20px;
  
  &__title {
    font-size: 20px;
    font-weight: 600;
    color: $colorPrimary;
    margin-bottom: 12px;
  }

  &__row {
    display: grid;
    grid-template-columns: 1fr 2fr 4fr 100px 100px;
    gap: 20px;
    align-items: center;
    padding: 6px 10px;
    border-radius: 4px;
    transition: background-color 0.2s ease;
    border-bottom: 1px solid rgba($colorNeutral500, 0.05);

    &:hover {
      background-color: rgba($colorPrimary, 0.03);
    }
    
    &:nth-child(even) {
      background-color: rgba($colorPrimary, 0.01);
    }
  }

  &__rows {
    margin-top: 6px;
  }
  
  &__item {
    text-align: end;
    font-weight: 500;
    color: $colorPrimary;
  }
  
  &__section {
    margin-bottom: 20px;
  }
  
  &__section-title {
    font-size: 18px;
    font-weight: 600;
    color: $colorPrimary;
    margin: 15px 0 8px;
  }
}

.print-price {
  &__row {
    display: grid;
    gap: 12px;
    padding: 8px 10px;
    border-radius: 4px;
    background-color: rgba($colorPrimary, 0.01);
    margin-bottom: 8px;
    
    & * {
      font-size: 14px;
    }
  }
  
  &__header {
    font-weight: 600;
    color: $colorPrimary;
    font-size: 16px !important;
  }
  
  &__value {
    text-align: end;
    font-weight: 500;
    color: $colorSecondary;
  }
}

// Стили для разного количества колонок в таблице брендирования
.print-volumes-1 {
  grid-template-columns: 1.5fr 1fr;
}

.print-volumes-2 {
  grid-template-columns: 1.5fr 1fr 1fr;
}

.print-volumes-3 {
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
}

.print-volumes-4 {
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
}

.print-volumes-5 {
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr;
}

.print-prices-1 {
  grid-template-columns: 2fr 1fr;
}

.print-prices-2 {
  grid-template-columns: 2fr 1fr 1fr;
}

.print-prices-3 {
  grid-template-columns: 2fr 1fr 1fr 1fr;
}

.print-prices-4 {
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
}

.print-prices-5 {
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
}

.layout-content__title_item {
  font-weight: 600;
  color: $colorNeutral600;
}

.layout-content__row_item {
  color: $colorNeutral600;
}

.hr {
  background-color: rgba($colorNeutral500, 0.1);
  height: 1px;
  border: none;
  margin: 6px 0;
}

.strong {
  font-weight: 600;
  color: $colorPrimary;
}