@import "vars";
@import "mixins";

.products {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  //gap: 16px;
}


.product-hor {
  @include brd-standard;
  border-color: transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  width: 620px;
  min-height: 448px;
  padding: 32px 24px 16px 24px;
  margin: 8px 0;
  background-color: #fff;

  &__frame {
    position: relative;
    padding-top: 100px;
    width: 568px;
    z-index: 3;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__color-description {
    display: inline-block;
    min-height: 40px;
    margin-bottom: 16px;

    &_big {
      min-height: 58px;
    }

  }

  &__image-frame {
    position: absolute;
    top: 16px;
    left: 0;
    transition: all 0.4s ease;
  }

  &__img {
    width: 568px;
    @include brd-standard;
    border-color: transparent;
    overflow: hidden;
  }

  &__tab-btn-block {
    margin-top: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
  }

  &__tab-btn {
    padding: 8px 8px 4px 8px;
    border: 1px solid;
    border-radius: 8px 8px 0 0;
    border-color: rgba($colorNeutral500, 0.08) rgba($colorNeutral500, 0.08) transparent rgba($colorNeutral500, 0.08);
    z-index: 1;
      //box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.08);

    box-shadow: 2px -2px 2px 1px rgba($colorNeutral500, 0.08);
    cursor: pointer;
    overflow: hidden;
    background-color:  rgba($colorNeutral500, 0.08);
  }

  &__tab-content {
    position: relative;
    border: 1px solid rgba($colorNeutral500, 0.08);
    border-radius: 0 12px 12px 12px;
    height: 100px;
    margin: -1px 0 10px 0;
    box-shadow: 2px -2px 8px 4px rgba($colorNeutral500, 0.08);
    overflow: auto;
    z-index: 2;
  }

  &__tab {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 12px 10px;

    & a {
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 8px;

      & * {
        color: $colorSecondary;
      }
    }
  }

  &__tab-main {
    &_title {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__tab-print {
    &_data {
      display: grid;
      gap: 8px;
      grid-template-columns: 3fr 2fr 1fr 1fr 2fr;
      padding: 4px 0;

      & * {
        font-size: 13px;
      }
    }
  }

  &__btn-block {
    display: flex;
    gap: 16px;
  }

  &__tab-pack {
    padding: 2px 10px;
    display: grid;
    align-items: center;
    grid-template-columns: 4fr 2fr 1fr 1fr;
    gap: 8px;

    & * {
      font-size: 13px;
    }
  }
}

.chevron-next {
  position: absolute;
  top: -1.5rem;
  right: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: end;
  padding: 8px;
  cursor: pointer;

  &__ {
    color: $colorPrimary;
  }

  &:hover * {
    font-weight: bold;
    transform: scale(1.05);
  }
}

.tab-active {
  z-index: 3;
  background-color: #fff;
}

.tab-show {
  display: flex;
}

.item-hidden {
  display: none;
}

.item-opaque {
  transition: all 0.4s ease;
  opacity: 0;

}

.btn-hor {
  width: 100%;
  justify-content: center;
}

.btn-multicolor {
  width: 100%;
  margin: 8px auto 16px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.strong {
  font-weight: 700;
}

.color-padding {
  padding: 0;
  min-height: 66px;
  margin: 8px 0 0 0;
  gap: 8px;
}