@import "vars";
@import "mixins";

.menu-product {
  height: 48px;
  width: 100%;
  background-color: $colorSecondary;
  position: fixed;
  z-index: 10;
}

.menu-items {
  //height: 48px;
  width: 100%;
  background-color: $colorPrimary;
  top: 48px;
  position: fixed;
  z-index: 7;
  height: 80px;

  &__items {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    //gap: 30px;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
  }

  &__item {
    width: 200px;

    a {
      display: inline-block;
      padding: 8px;
      text-wrap: nowrap;
      color: $colorSecondary50;
    }

    &:hover a {
      transform: scale(1.05);
    }
  }
}



.filter {
  z-index: 5;
  position: fixed;
  top: 70px;
  right: calc((100% - 1280px) / 2);
  transition: max-height 0.6s ease;
  max-height: 40px;
  height: 100%;
  overflow: hidden;

  &:open {
    max-height: 400px;
    height: 100%;
    transition: max-height 0.6s ease;
  }

  &__summary {
    //padding: 8px 0;
    cursor: pointer;
    display: flex;
    justify-content: end;

    &_title {
      position: relative;
      display: flex;
      gap: 16px;
      justify-content: end;
      align-items: center;
      @include brd-standard;
      border-color: transparent;
      padding: 8px 24px 8px 10px;
      background-color: rgba($colorSecondary, 1);

      & * {
        color: $colorSecondary50;
      }
    }
  }

  &__content {
    width: 100%;
    background-color: $colorSecondary50;
    @include brd-standard;
    padding: 16px;

    &_data {
      display: grid;
      gap: 16px;
      grid-template-columns: 1fr 2fr;

      &_color {
        margin: 16px 0;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
      }

      &_print {
        margin: 16px 0;
        display: grid;
        grid-template-columns: 1fr 8fr;
        gap: 6px;
      }

      &_filter {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, 1fr 9fr);
        gap: 6px;
        margin: 16px 0;
      }

      &_checkbox {
        height: 20px;
        width: 20px;
      }
    }

  }

  &__btn-block {
    display: flex;
    justify-content: end;
    gap: 8px;
  }

  &__price-range {
    padding: 6px;
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    align-items: center;
  }
}

.input-range {
  color: $colorPrimary;
  accent-color: $colorPrimary;
  width: 70%;

  &__value {
    font-size: 18px;
    //font-weight: 600;
  }
}

.product-header {
  width: 100%;
  padding-top: 140px;
  display: flex;
  justify-content: space-between;
}


.color-label {
  position: relative;
  cursor: pointer;

  &__check {
    position: absolute;
    display: none;
    z-index: 5;
    border: 2px solid $colorSecondary;
    border-radius: 6px;
    top: -4px;
    left: -4px;
    height: 32px;
    width: 32px;
    background-color: transparent;
  }
}

.filter-badge {
  position: absolute;
  font-size: 13px;
  right: 0;
  top: 0;
  background-color: $colorPrimary;
  padding: 2px 6px;
  border: 1px solid $colorPrimary;
  border-radius: 8px;
  display: none;
  color: $colorSecondary50;
}

.catalogue-product {
  position: relative;

  &__item {
    //position: absolute;
    display: none;
    background-color: $colorSecondary50;
  }

  &:hover &__item {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }

}