@import "vars";
@import "mixins";

.products {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}


.product-hor {
  @include brd-standard;
  width: 620px;
  min-height: 430px;
  padding: 32px;
  margin: 8px 0;
  position: relative;

  &__frame {
    position: absolute;
    top: 60px;
    left: 30px;
    width: 568px;
    min-height: 360px;
    z-index: 3;
    transition: all 0.4s ease;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__img {
    width: inherit;
    @include brd-standard;
    border-color: transparent;
    overflow: hidden;
  }

  &__tab-btn-block {
    margin-top: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
  }

  &__tab-btn {
    padding: 8px 8px 4px 8px;
    border: 1px solid;
    border-radius: 8px 8px 0 0;
    border-color: rgba($colorSecondary, 0.2) rgba($colorSecondary, 0.1) transparent rgba($colorSecondary, 0.2);
    z-index: 1;
    box-shadow: 4px -4px 2px 1px rgba($colorSecondary, 0.2);
    cursor: pointer;
    overflow: hidden;
    background-color: rgba($colorNeutral500, 0.05);
  }

  &__tab-content {
    position: relative;
    border: 1px solid rgba($colorSecondary, 0.2);
    border-radius: 0 12px 12px 12px;
    height: 100px;
    margin: -1px 0 10px 0;
    box-shadow: 4px -4px 8px 4px rgba($colorSecondary, 0.2);
    overflow: auto;
    z-index: 2;
  }

  &__tab {
    display: none;
    & a {
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 8px;
      & * {
        color: $colorSecondary;
      }
    }
  }

  &__tab-main {
    &_title {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__tab-print {
    &_data {
      display: grid;
      gap: 8px;
      grid-template-columns: 3fr 2fr 1fr 1fr 2fr;
      padding: 4px 0;

      & * {
        font-size: 13px;
      }
    }
  }

  &__tab-pack {
    padding: 2px 10px;
    display: grid;
    align-items: center;
    grid-template-columns: 4fr 2fr 1fr 1fr;
    gap: 8px;
    & *{
      font-size: 13px;
    }
  }
}

.tab-active {
  z-index: 3;
  background-color: $colorSecondary50;
}

.tab-show {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 12px 10px;
}

.item-hidden {
  display: none;
}

.item-opaque {
  transition: all 0.4s ease;
  opacity: 0;

}

.btn-hor {
  width: 160px;
  padding: 8px;
  justify-content: center;
  gap: 16px
}

.strong {
  font-weight: 700;
}

.color-padding {
  padding: 0 12px;
}