@import "vars";
@import "mixins";

.product-sqr {
  @include brd-standard;
  width: 620px;
  height: 470px;
  padding: 32px;
  margin: 8px 0;
  position: relative;
  background-color: #fff;

  &__frame {
    position: absolute;
    top: 54px;
    left: 10px;
    height: 410px;
    z-index: 3;
    transition: all 0.4s ease;
    opacity: 1;
    display: grid;
    grid-template-columns: 260px 320px;
    gap: 10px;
  }

  &__img {
    height: 279px;
    @include brd-standard;
    border-color: transparent;
    overflow: hidden;
    cursor: pointer;
  }

  &__info {
    display: flex;
  }

  &__tab-btn-block {
    display: flex;
    gap: 8px;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__tab-btn {
    border-color: rgba($colorSecondary, 0.2) transparent rgba($colorSecondary, 0.1) rgba($colorSecondary, 0.2);
    padding: 8px 8px 4px 8px;
    border: 1px solid;
    border-radius: 8px 0 0 8px;
    border-color: rgba(0, 158, 163, 0.2) transparent rgba(0, 158, 163, 0.1) rgba(0, 158, 163, 0.2);
    z-index: 1;
    box-shadow: -2px 4px 4px 1px rgba(0, 158, 163, 0.2);
    cursor: pointer;
    background-color: #F2FFFF;
  }

  &__tab-content {
    position: relative;
    border: 1px solid rgba(0, 158, 163, 0.2);
    border-radius: 0 12px 12px 12px;
    margin: 0 0 0 -2px;
    box-shadow: -2px 4px 4px 2px rgba(0, 158, 163, 0.2);
    z-index: 2;
    width: 100%;
    //overflow: auto;
  }

  &__tab {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 12px 10px;


    & a {
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 8px;

      & * {
        color: $colorSecondary;
      }

      &_text {
        word-wrap: normal;
        hyphens: auto;
      }
    }

    &_print-data {
      display: none;
      justify-content: flex-start;
      //padding: 4px 0;
      flex-direction: column;
      gap: 12px;
      padding: 8px 16px 2px 8px;
    }
  }

  &__tab-main {
    &_title {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 8px;
      justify-content: space-between;
    }
  }

  &__tab-print {
    &_content {
      display: flex;
      justify-content: space-between;

      & * {
        font-size: 13px;
      }

    }

    &_value {
      text-align: end;
    }
  }

}

.btn-sqr {
  width: 100%;
  padding: 8px;
  justify-content: center;
  gap: 8px;
  &__block{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 16px;
    width: 67%;
    margin-left: 33%;
  }
}

.chevron-sqr-next {
  width: 260px;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: end;
  //padding:  0 8px;
  cursor: pointer;

  &:hover * {
    font-weight: bold;
    transform: scale(1.05);
  }
}

