//$colorPrimary: #009EA3;
$colorSecondary: #009EA3;

$colorSecondary50:  #F2FFFF;
//$colorPrimary100: #00E7EF;
//$colorPrimary200: #00D2D9;
//$colorPrimary300: #00BFC5;
//$colorPrimary400: #00AEB3;
$colorSecondary500: #009EA3;
//$colorPrimary600: #008E93;
//$colorPrimary700: #008084;
//$colorPrimary800: #007377;
//$colorPrimary900: #00676B;
//$colorPrimary950: #005D60;

//$colorSecondary: #FFB81C;

//$colorSecondary50: #FFEFC8;
//$colorSecondary100: #FFE29F;
//$colorSecondary200: #FFD679;
//$colorSecondary300: #FFCB57;
//$colorSecondary400: #FFC138;
//$colorSecondary500: #FFB81C;
//$colorSecondary600: #FFAF00;
//$colorSecondary700: #E69E00;
//$colorSecondary800: #CF8E00;
//$colorSecondary900: #BA8000;
//$colorSecondary950: #A77300;

$colorNeutral50: #969696;
$colorNeutral100: #828282;
$colorNeutral200: #717171;
$colorNeutral300: #626262;
$colorNeutral400: #555;
$colorNeutral500: #4A4A4A;
$colorNeutral600: #3f3f3f;
$colorNeutral700: #363636;
$colorNeutral800: #2e2e2e;
$colorNeutral900: #272727;
$colorNeutral950: #212121;

$colorPrimary: #0F4880;

//$colorSecondary50: #3790E8;
//$colorSecondary100: #1A7DDF;
//$colorSecondary200: #176DC2;
//$colorSecondary300: #145FA9;
//$colorSecondary400: #115393;
$colorPrimary500: #0F4880;
//$colorSecondary600: #0D3D6D;
//$colorSecondary700: #0B345D;
//$colorSecondary800: #092C4F;
//$colorSecondary900: #082543;
$colorPrimary950: #071F39;


$displayWidth: 1300px;

$r: 150;
$g: 160;
$b: 150;
$shift: 0.1;