<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Вики Восток</title>
    <link rel="icon" type="image/x-icon" href="{% static 'viki_web/icons/logo.svg' %}">

    {#    <script src="{% static 'production/js/dist/login.bundle.js' %}" defer type="module"></script>#}
    <script src="{% static 'viki_web/js/login.js' %}" defer type="module"></script>
    <script src="{% static 'viki_web/js/aboutMenu.js' %}" defer type="module"></script>
    <script src="https://kit.fontawesome.com/e2a5b405b2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'viki_web/css/style.css' %}">

    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

</head>
<body>
<menu class="menu">
    <div class="container">
        <div class="menu__line">
            <nav>
                <ul class="menu__left">
                    <li class="menu__item">
                        <a href="/">
                            <img src="{% static 'viki_web/icons/logo.svg' %}" alt="ВикиВосток" class="menu__logo">
                        </a></li>
                    <li class="menu__item">
                        <a href="{% url 'viki_web:catalogue' %}">Каталог</a>
                    </li>
                    <li class="menu__item">
                        <a href="{% url 'viki_web:price' %}">Прайс</a>
                    </li>
                    <li class="menu__item">
                        <a href="{% url 'viki_web:layout' %}">Шаблоны</a>
                    </li>
                    <li class="menu__item about-menu catalogue">
                        <div>О компании</div>
                        <ul class="catalogue__item about-menu__dropdown">
                            <li><a href="{% url 'viki_web:about' %}">О компании</a></li>
                            <li><a href="{% url 'viki_web:news' %}">Новости</a></li>
                            <li><a href="{% url 'viki_web:privacy' %}">Политика конфиденциальности</a></li>
                        </ul>
                    </li>
                    <li class="menu__item">
                        <a href="{% url 'viki_web:contacts' %}">Контакты</a>
                    </li>
                </ul>
            </nav>
            <div class="menu__right">
                <nav class="cart tooltip">
                    <a href="{% url 'viki_web:cart' %}">
                    <img src="{% static 'viki_web/icons/cart_menu.svg' %}"
                         alt="cart" class="">
                    <div class="tooltip-text">корзина</div>
                    </a>
                </nav>
                <nav class="menu__cabinet catalogue">
                    <i class="fa-regular fa-user"></i>
                    {% if user.is_authenticated %}
                        <div>
                            {% if user.first_name or user.last_name %}
                                {{ user.first_name }} {{ user.last_name }}
                            {% else %}
                                {{ user.email }}
                            {% endif %}
                        </div>
                        <ul class="catalogue__item">
                            <li>Заказы</li>
                            <li><a href="{% url 'viki_web:cabinet' %}">Настройка</a></li>
                            <li class="log-logout">Выйти</li>
                        </ul>
                    {% else %}
                        <div>Личный&nbsp;Кабинет</div>
                        <ul class="catalogue__item">
                            <li class="log-login">Войти</li>
                            <li class="log-register">Зарегистрироваться</li>
                        </ul>
                    {% endif %}
                </nav>
            </div>
        </div>
    </div>
</menu>
<header class="header">
    <div class="container">
        <div class="header__line">
            <div>
                <h1 class="header__left">Вики Восток</h1>
                <a href="https://api.whatsapp.com/send/?phone=79266026441" class="header__social">
                    <img src="{% static 'viki_web/icons/whatsapp_white_small.svg' %}" alt="whatsapp_logo"
                         class="header__social_item">
                    <p class="header__social_item">+7&nbsp;926&nbsp;6026441</p>
                </a>
            </div>
            <div class="header__right">
                <img src="{% static 'viki_web/images/factory.jpg' %}" alt="factory">
            </div>
        </div>
    </div>
</header>
<dialog class="login log-login">
    <div class="login__body">
        <div class="login__title">
            <div>Войти</div>
            <div>&times;</div>
        </div>
        <form class="login__content">
            <div class="login__inputs">
                <label for="login-mail" class="login__label">E-mail</label>
                <input type="email"
                       id="login-mail"
                       class="login__input"
                       name="email"
                       required>
                <label for="login-password" class="login__label">пароль</label>
                <input type="password"
                       id="login-password"
                       class="login__input"
                       name="password"
                       required>
            </div>
            <div class="alert"></div>
            <button type="button" class="btn login__btn login__btn_forget">
                Восстановление пароля
            </button>
            <div class="login__btn-block">
                <button type="reset" class="btn btn__cancel login__btn">Закрыть</button>
                <button type="submit" class="btn btn__save login__btn">Войти</button>
            </div>
        </form>
    </div>
</dialog>
<dialog class="login log-logout">
    <div class="login__body">
        <div class="login__title">
            <div>Выйти</div>
            <div>&times;</div>
        </div>
        <form class="login__content">
            <div class="login__text">вы уверены, что хотите выйти?</div>
            <div class="login__btn-block">
                <button type="reset" class="btn btn__cancel login__btn">Закрыть</button>
                <button type="button" class="btn btn__save login__btn">Выйти</button>
            </div>
        </form>
    </div>
</dialog>
<dialog class="login log-register">
    <div class="login__body">
        <div class="login__title">
            <div></div>
            <div>&times;</div>
        </div>
        <form class="login__content">
            <div class="login__inputs">
                <label for="register-mail" class="login__label">E-mail</label>
                <input type="email"
                       id="register-mail"
                       class="login__input"
                       name="email"
                       required>
                <input type="text" hidden name="user-type" class="user-type">
            </div>
            <div class="alert"></div>
            <div class="login__btn-block">
                <button type="reset" class="btn btn__cancel login__btn">Закрыть</button>
                <button type="submit" class="btn btn__save login__btn"></button>
            </div>
        </form>
    </div>
</dialog>
<dialog class="login log-temporary">
    <div class="login__body">
        <div class="login__title">
            <div>Введите пароль из почты</div>
            <div>&times;</div>
        </div>
        <form class="login__content">
            <div class="login__inputs">
                <label for="temp-mail" class="login__label">E-mail</label>
                <input type="email"
                       id="temp-mail"
                       class="login__input"
                       name="email"
                       required>
                <label for="temp-password" class="login__label">пароль</label>
                <input type="password"
                       id="temp-password"
                       class="login__input"
                       name="password"
                       required>
                <input type="text" hidden name="user-type" class="user-type">
            </div>
            <div class="alert"></div>
            <div class="login__btn-block">
                <button type="reset" class="btn btn__cancel login__btn">Закрыть</button>
                <button type="submit" class="btn btn__save login__btn">Войти</button>
            </div>
        </form>
    </div>
</dialog>
{% block content %}
{% endblock %}
</body>
</html>