{% extends 'header.html' %}
{% load static %}
{#{% block title %}Главная{% endblock %}#}
{% block content %}
    {#    <script src="{% static 'production/js/dist/index.bundle.js' %}" defer type="module"></script>#}
    <script src="{% static 'viki_web/js/index.js' %}" defer type="module"></script>

    <main>
        <div class="container">
            <h2>Продукция</h2>
            <section class="category">
                {% for category in categories %}
                    <a href="products/{{ category.product_group_url }}">
                        <div class="news__item">
                            <img src="{{ category.file_url }}" alt="{{ category.cover }}"
                                 class="news__img">
                            <div class="news__label">
                                <h4 class="news__title">{{ category.name }}</h4>
                                <h4 class="news__price">{{ category.second_name }}</h4>
                            </div>
                        </div>
                    </a>
                {% endfor %}

            </section>
        </div>
        <div class="container">
            <h2>Новинки</h2>
            <section class="category">
                <div class="news__item">
                    <img src="{% static 'viki_web/images/recess_bw.jpg' %}" alt="reChess" class="news__img">
                    <div class="news__label">
                        <h4 class="news__title">Шахматы&nbsp;reChess</h4>
                        <h4 class="news__price">6&nbsp;000&nbsp;р.</h4>
                        <div class="news__text"></div>
                    </div>
                </div>
                <div class="news__item">
                    <img src="{% static 'viki_web/images/horeca_cover.jpg' %}" alt="reChess" class="news__img">
                    <div class="news__label">
                        <h4 class="news__title">Хэнгер 210*110 мм</h4>
                        <h4 class="news__price">94&nbsp;р.</h4>
                        <div class="news__text"></div>
                    </div>
                </div>
            </section>
        </div>
        <div class="container">
            <h2>Новости</h2>
            <section class="category">
                <div class="news__item">
                    <img src="{% static 'viki_web/images/pens_cover.JPG' %}" alt="ручки" class="news__img">
                    <div class="news__label">
                        <h4 class="news_title">Шахматы&nbsp;reChess</h4>
                        <div class="news__text"></div>
                    </div>
                </div>
            </section>
        </div>
    </main>


{% endblock %}
