{% extends 'header.html' %}
{% load static %}

{% block content %}
<section class="legal">
    <div class="container">
        <h2 class="legal__title">Юридическая информация</h2>
        <div class="legal__content">
            <div class="legal__item">
                <div class="legal__label">Полное наименование организации</div>
                <div class="legal__value">Общество с ограниченной ответственностью «Вики Восток Сувенир»</div>
            </div>
            <div class="legal__item">
                <div class="legal__label">ИНН</div>
                <div class="legal__value">50 01 021 228</div>
            </div>
            <div class="legal__item">
                <div class="legal__label">КПП</div>
                <div class="legal__value">50 01 01 001</div>
            </div>
            <div class="legal__item">
                <div class="legal__label">Юридический адрес</div>
                <div class="legal__value">143985, Московская область, г. Балашиха, деревня Полтево, владение 115</div>
            </div>
            <div class="legal__item">
                <div class="legal__label">Фактический и почтовый</div>
                <div class="legal__value">143985, Московская область, г. Балашиха, деревня Полтево, владение 115</div>
            </div>
            <div class="legal__item">
                <div class="legal__label">Тел.\факс.</div>
                <div class="legal__value">8-926-602-64-41</div>
            </div>
            <div class="legal__item">
                <div class="legal__label">ОКПО</div>
                <div class="legal__value">70459929</div>
            </div>
            <div class="legal__item">
                <div class="legal__label">ОГРН</div>
                <div class="legal__value">1155001000549</div>
            </div>
            <div class="legal__item">
                <div class="legal__label">ОКВЭД</div>
                <div class="legal__value">25.24</div>
            </div>
        </div>
    </div>
</section>
{% endblock %} 