{% extends "header.html" %}
{% load static %}

{% block content %}
<main class="news-page">
    <div class="container">
        <h1 class="news-page__title">Новости компании</h1>
        
        <div class="news-page__list">
            <article class="news-page__item">
                <h2 class="news-page__item-title">Запуск новой линейки продукции</h2>
                <time class="news-page__date">20 мая 2023</time>
                <div class="news-page__content">
                    <p>Мы рады сообщить о запуске новой линейки продукции "Комфорт+". Эта серия разработана с учетом последних тенденций дизайна и включает в себя предметы интерьера, которые сочетают в себе стиль, удобство и функциональность.</p>
                    <p>Новая коллекция уже доступна в нашем каталоге. Спешите ознакомиться с новинками!</p>
                </div>
            </article>
            
            <article class="news-page__item">
                <h2 class="news-page__item-title">Модернизация производства</h2>
                <time class="news-page__date">10 марта 2023</time>
                <div class="news-page__content">
                    <p>Компания "Вики Восток" завершила масштабную модернизацию производственных линий. Обновленное оборудование позволит нам увеличить объемы производства и еще больше повысить качество выпускаемой продукции.</p>
                    <p>Благодаря внедрению новых технологий, мы сможем предложить нашим клиентам еще более широкий ассортимент товаров по конкурентоспособным ценам.</p>
                </div>
            </article>
            
            <article class="news-page__item">
                <h2 class="news-page__item-title">Участие в международной выставке</h2>
                <time class="news-page__date">15 января 2023</time>
                <div class="news-page__content">
                    <p>С 10 по 14 января наша компания приняла участие в международной выставке "Дом и Интерьер 2023". Мы представили свои последние разработки и получили положительные отзывы от посетителей и партнеров.</p>
                    <p>На выставке были заключены новые контракты на поставку нашей продукции в страны Европы и Азии. Это важный шаг в развитии международного сотрудничества нашей компании.</p>
                </div>
            </article>
        </div>
    </div>
</main>
{% endblock %} 