<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{{ product_group.name }}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'viki_web/icons/logo.svg' %}">

    {#    <script src="{% static 'production/js/dist/login.bundle.js' %}" defer type="module"></script>#}
    <script src="{% static 'viki_web/js/login.js' %}" defer type="module"></script>
    <script src="https://kit.fontawesome.com/e2a5b405b2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'viki_web/css/style.css' %}">

    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <script src="{% static 'viki_web/js/product.js' %}" defer type="module"></script>

</head>
<body>
<menu class="menu-product">
    <div class="container">
        <div class="menu__line">
            <nav>
                <ul class="menu__left">
                    <li class="menu__item">
                        <a href="/">
                            <img src="{% static 'viki_web/icons/logo.svg' %}" alt="ВикиВосток" class="menu__logo">
                        </a></li>
                    <li class="menu__item">
                        <div>Каталог</div>
                    </li>
                    <li class="menu__item">
                        <div>Прайс</div>
                    </li>
                    <li class="menu__item">
                        <div>Шаблоны</div>
                    </li>
                    <li class="menu__item">
                        <div>О компании</div>
                    </li>
                    <li class="menu__item">
                        <div>Контакты</div>
                    </li>
                </ul>
            </nav>
            <nav class="menu__right">
                <i class="fa-regular fa-user"></i>
                <div>Личный&nbsp;Кабинет</div>
            </nav>
        </div>
    </div>
</menu>
<menu class="submenu-products">
    <div class="container">
        <div class="submenu-group">
            {% for group in product_groups %}
                <a href="{{ group.product_group_url }}">
                    <div class="submenu-group__item {% if group.id != product_group.id %}
                            submenu-group__item_inactive{% endif %}">
                        {{ group.name }}
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</menu>
<div class="container">
    <header class="product-header">
        <div class="product-header__title">
            <h1>{{ product_group.name }}</h1>
            <h3>{{ product_group.second_name }}</h3>
        </div>
        <details class="product-header__filter">
            <summary class="product-header__summary">
                <h4>Фильтр</h4>
                <i class="fa-solid fa-list-check"></i>
            </summary>
            <div class="product-header__filter-content">
                <div>
                    <h3>Цвет</h3>
                    <div class="product-header__filter-content_color">
                        {% for color in color_group %}
                            <input type="checkbox" id="{{ color.hex }}" name="{{ color.name }}"
                                   class="product-header__filter-content_checkbox-hidden"
                                   hidden>
                            <label for="{{ color.hex }}" class="color-label">
                                <div class="square" style="background-color: {{ color.hex }};"></div>
                                <div class="color-label__check"></div>
{#                                <i class="fa-solid fa-check color-label__check"></i>#}
                            </label>
                        {% endfor %}
                    </div>
                    <h3>Брендирование</h3>
                    <div class="product-header__filter-content_print">
                        {% for printing in print_types %}
                            <input type="checkbox" id="print_{{ printing.id }}"
                                   name="print_{{ printing.id }}"
                                   class="product-header__filter-content_checkbox">
                            <label for="print_{{ printing.id }}">{{ printing.name }}</label>
                        {% endfor %}

                    </div>
                </div>
                <div>
                    <h3>Свойства</h3>
                    <div class="product-header__filter-content_filter">
                        {% for filter in filter_option %}
                            <input type="checkbox" id="{{ filter.filter_option__id }}"
                                   name="{{ filter.filter_option__name }}"
                                   class="product-header__filter-content_checkbox">
                            <label for="{{ filter.filter_option__id }}">{{ filter.filter_option__name }}</label>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="product-header__btn-block">
                <button class="btn btn__save">применить</button>
                <button class="btn btn__cancel">сбросить</button>
            </div>
        </details>
    </header>
</div>
{% block content %}
{% endblock %}
</body>
</html>