<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %}{% if seo %}{{ seo.title }}{% else %}{{ product_group.name }} - Вики Восток{% endif %}{% endblock %}</title>

    <!-- SEO Meta Tags -->
    <meta name="description" content="{% block meta_description %}{% if seo %}{{ seo.description }}{% else %}{{ product_group.name }} - каталог сувенирной продукции с возможностью брендирования{% endif %}{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}{% if seo %}{{ seo.keywords }}{% else %}{{ product_group.name }}, сувениры, брендирование{% endif %}{% endblock %}">
    <link rel="canonical" href="{% block canonical %}{% if seo %}{{ seo.canonical_url }}{% else %}{{ request.build_absolute_uri }}{% endif %}{% endblock %}">

    {% block meta_robots %}
        {% if seo %}
            {% if seo.noindex or seo.nofollow %}
                <meta name="robots" content="{% if seo.noindex %}noindex{% endif %}{% if seo.noindex and seo.nofollow %},{% endif %}{% if seo.nofollow %}nofollow{% endif %}">
            {% endif %}
        {% endif %}
    {% endblock %}

    <!-- Open Graph -->
    <meta property="og:type" content="{% block og_type %}website{% endblock %}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:title" content="{% block og_title %}{% if seo %}{{ seo.og_title }}{% else %}{{ product_group.name }} - Вики Восток{% endif %}{% endblock %}">
    <meta property="og:description" content="{% block og_description %}{% if seo %}{{ seo.og_description }}{% else %}Каталог {{ product_group.name }}{% endif %}{% endblock %}">
    <meta property="og:image" content="{% block og_image %}{% if seo and seo.og_image %}{{ seo.og_image }}{% else %}{{ request.scheme }}://{{ request.get_host }}{% static 'viki_web_cms/files/cover/' %}{{ product_group.cover }}{% endif %}{% endblock %}">


    <link rel="icon" type="image/x-icon" href="{% static 'viki_web/icons/logo.svg' %}">

    {#    <script src="{% static 'production/js/dist/login.bundle.js' %}" defer type="module"></script>#}
    <script src="https://kit.fontawesome.com/e2a5b405b2.js" crossorigin="anonymous"></script>
    <!-- Modern browsers -->
    <script src="{% static 'viki_web/js/addToCart.js' %}" defer type="module"></script>
    <!-- Legacy browsers fallback -->
    <script src="{% static 'viki_web/js/addToCartFallback.js' %}" defer nomodule></script>
    <!-- Cart badge initialization -->
    <script src="{% static 'viki_web/js/cart/badge/cartBadge.js' %}" defer type="module"></script>
    <!-- Cookie consent banner -->
    <script src="{% static 'viki_web/js/cookieBanner.js' %}" defer type="module"></script>
    <link rel="stylesheet" href="{% static 'viki_web/css/style.css' %}">

    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <script src="{% static 'viki_web/js/product.js' %}" defer type="module"></script>
    <script src="{% static 'viki_web/js/login.js' %}" defer type="module"></script>

</head>
<body>
<menu class="menu-product">
    <div class="container">
        <nav class="menu__line">
            {#            <nav>#}
            <ul class="menu__left">
                <li class="menu__item">
                    <a href="/">
                        <i class="fa-solid fa-house"></i>
                        Главная
                    </a></li>
                <li class="menu__item">
                </li>
            </ul>
            <div class="menu__right">
                <form class="layout__header-right" action="{% url 'viki_web:catalogue' %}" method="post">
                    {% csrf_token %}
                    <i class="fa fa-solid fa-magnifying-glass" aria-hidden="true"></i>
                    <input class="layout__input" type="text" placeholder="поиск..." name="search">
                    <button type="submit" class="btn btn__save">Поиск</button>
                    <a href="">
                        <button class="btn btn__neutral">Сбросить</button>
                    </a>
                </form>
                <nav class="cart tooltip">
                    <a href="{% url 'viki_web:cart' %}">
                        <img src="{% static 'viki_web/icons/cart_menu.svg' %}"
                             alt="cart" class="">
                        <div class="tooltip-text">корзина</div>
                        <span class="cart-badge"></span>
                    </a>
                </nav>
                <nav class="menu__cabinet catalogue">
                    <i class="fa-regular fa-user"></i>
                    {% if user.is_authenticated %}
                        <div>
                            {% if user.first_name or user.last_name %}
                                {{ user.first_name }} {{ user.last_name }}
                            {% else %}
                                {{ user.email }}
                            {% endif %}
                        </div>
                        <ul class="catalogue__item">
                            <li><a href="{% url "viki_web:order_list" %}">Заказы</a></li>
                            <li><a href="{% url 'viki_web:cabinet' %}">Настройка</a></li>
                            <li class="log-logout">Выйти</li>
                        </ul>
                    {% else %}
                        <div>Личный&nbsp;Кабинет</div>
                        <ul class="catalogue__item">
                            <li class="log-login">Войти</li>
                            <li class="log-register">Зарегистрироваться</li>
                        </ul>
                    {% endif %}
                </nav>
            </div>
        </nav>
    </div>
</menu>
<menu class="menu-items">
    <div class="container">
        <nav class="menu__line">
            <details class="filter">
                <summary class="filter__summary">
                    <div class="filter__summary_title">
                        <h4>Фильтры</h4>
                        <i class="fa-solid fa-list-check"></i>
                        <div class="filter-badge"></div>
                    </div>
                </summary>
                <div class="filter__content">
                    <div class="filter__content_data">
                        <div>
                            <h3>Цвет</h3>
                            <div class="filter__content_data_color">
                                {% for color in color_group %}
                                    <input type="checkbox" id="{{ color.hex }}"
                                           name="{{ color.id }}"
                                           class="product-header__filter-content_checkbox-hidden"
                                           data-id="{{ color.id }}"
                                           hidden>
                                    <label for="{{ color.hex }}"
                                           class="color-label">
                                        <div class="square tooltip" style="background-color: {{ color.hex }};">
                                            <div class="tooltip-text">{{ color.name }}</div>
                                        </div>
                                        <div class="color-label__check"></div>
                                    </label>
                                {% endfor %}
                            </div>
                            <h3>Брендирование</h3>
                            <div class="filter__content_data_print">
                                {% for printing in print_types %}
                                    <input type="checkbox" id="print_{{ printing.id }}"
                                           data-id="{{ printing.id }}"
                                           class="product-header__filter-content_checkbox">
                                    <label for="print_{{ printing.id }}">{{ printing.name }}</label>
                                {% endfor %}
                            </div>
                            <h3><label for="price-range">Цена</label></h3>
                            <div class="filter__price-range">
                                <input id="price-range"
                                       type="range" class="input-range"
                                       min="{{ price_min }}"
                                       max="{{ price_max }}"
                                       step="0.1"
                                       value="{{ price_max }}"
                                       name="price_range">
                                <div class="input-range__value">до&nbsp;{{ price_max }}</div>
                            </div>
                        </div>
                        <div>
                            <h3>Свойства</h3>
                            <div class="filter__content_data_filter">
                                {% for filter in filter_option %}
                                    <input type="checkbox" id="filter-{{ filter.filter_option__id }}"
                                           data-id="{{ filter.filter_option__id }}"
                                           class="filter__content_data_checkbox">
                                    <label for="filter-{{ filter.filter_option__id }}">{{ filter.filter_option__name }}</label>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="filter__btn-block">
                        <button class="btn btn__save" data-url="{{ product_group.product_group_url }}">применить
                        </button>
                        <button class="btn btn__cancel">сбросить</button>
                    </div>
                </div>
            </details>
            <ul class="menu-items__items">
                {% for category in product_groups %}
                    <li class="menu-items__item">
                        <a href="{% url 'viki_web:products'  category.product_group_url %}">{{ category.short_name }}</a>
                    </li>
                {% endfor %}
            </ul>

        </nav>
    </div>
</menu>
<dialog class="login log-login">
    <div class="login__body">
        <div class="login__title">
            <div>Войти</div>
            <div>&times;</div>
        </div>
        <form class="login__content">
            <div class="login__inputs">
                <label for="login-mail" class="login__label">E-mail</label>
                <input type="email"
                       id="login-mail"
                       class="login__input"
                       name="email"
                       required>
                <label for="login-password" class="login__label">Пароль</label>
                <input type="password"
                       id="login-password"
                       class="login__input"
                       name="password"
                       required>
            </div>
            <div class="alert"></div>
            <button type="button" class="btn login__btn login__btn_forget">
                Восстановление пароля
            </button>
            <div class="login__btn-block">
                <button type="reset" class="btn btn__cancel login__btn">Закрыть</button>
                <button type="submit" class="btn btn__save login__btn">Войти</button>
            </div>
        </form>
    </div>
</dialog>
<dialog class="login log-logout">
    <div class="login__body">
        <div class="login__title">
            <div>Выйти</div>
            <div>&times;</div>
        </div>
        <form class="login__content">
            <div class="login__text">Вы уверены, что хотите выйти?</div>
            <div class="login__btn-block">
                <button type="reset" class="btn btn__cancel login__btn">Закрыть</button>
                <button type="button" class="btn btn__save login__btn">Выйти</button>
            </div>
        </form>
    </div>
</dialog>
<dialog class="login log-register">
    <div class="login__body">
        <div class="login__title">
            <div></div>
            <div>&times;</div>
        </div>
        <form class="login__content">
            <div class="login__inputs">
                <label for="register-mail" class="login__label">E-mail</label>
                <input type="email"
                       id="register-mail"
                       class="login__input"
                       name="email"
                       required>
                <input type="text" hidden name="user-type" class="user-type">
            </div>
            <div class="alert"></div>
            <div class="login__btn-block">
                <button type="reset" class="btn btn__cancel login__btn">Закрыть</button>
                <button type="submit" class="btn btn__save login__btn"></button>
            </div>
        </form>
    </div>
</dialog>
<dialog class="login log-temporary">
    <div class="login__body">
        <div class="login__title">
            <div>Введите пароль из почты</div>
            <div>&times;</div>
        </div>
        <form class="login__content">
            <div class="login__inputs">
                <label for="temp-mail" class="login__label">E-mail</label>
                <input type="email"
                       id="temp-mail"
                       class="login__input"
                       name="email"
                       required>
                <label for="temp-password" class="login__label">Пароль</label>
                <input type="password"
                       id="temp-password"
                       class="login__input"
                       name="password"
                       required>
                <input type="text" hidden name="user-type" class="user-type">
            </div>
            <div class="alert"></div>
            <div class="login__btn-block">
                <button type="reset" class="btn btn__cancel login__btn">Закрыть</button>
                <button type="submit" class="btn btn__save login__btn">Войти</button>
            </div>
        </form>
    </div>
</dialog>
{% block content %}
{% endblock %}

<!-- Cookie Banner -->
{% include 'cookie_banner.html' %}

</body>
</html>