{% extends 'header.html' %}
{% load static %}
{% block content %}
    <script src="{% static 'viki_web/js/product_detail.js' %}" defer type="module"></script>
    <main>
        <div class="container">
            <div class="detail-page">
                <section class="detail-page__section"
                         data-id="1"
                         data-goods-article="ART-001"
                         data-article-length="6"
                         data-article-set="SET-001"
                >
                    <div class="detail-page__content">
                        <div class="detail-page__gallery">
                            <div class="detail-page__main-image">
                                {% for item in goods.item_list %}
                                    <img src="{% static 'viki_web_cms/files/item_photo/' %}{{ item.item.image }}"
                                         alt="Основное изображение"
                                         loading="lazy"
                                         class="{% if item.item.id != goods.id_random %}item-hidden item-opaque{% endif %}"
                                         data-id="{{ item.item.id }}"
                                         data-color="{{ item.item.main_color.id }}"
                                         data-article="{{ item.item.item_article }}"
                                         data-price="{{ item.price }}"
                                         data-goods-price="{{ goods.price }}"
                                         data-color-description="{{ item.color_description }}"
                                    >
                                {% endfor %}
                                <button class="detail-page__nav-button detail-page__nav-button--prev tooltip">
                                    <i class="fa-solid fa-chevron-left"></i>
                                    <div class="tooltip-text tooltip-prev">предыдущий</div>
                                </button>
                                <button class="detail-page__nav-button detail-page__nav-button--next tooltip">
                                    <i class="fa-solid fa-chevron-right"></i>
                                    <div class="tooltip-text tooltip-next">следующий</div>
                                </button>
                            </div>
                            <div class="detail-page__thumbnails">
                                <div class="detail-page__thumbnail">
                                    <img src="{% static 'viki_web/icons/logo.svg' %}"
                                         alt="Дополнительное изображение 1"
                                         loading="lazy">
                                </div>
                                <div class="detail-page__thumbnail">
                                    <img src="{% static 'viki_web/icons/logo.svg' %}"
                                         alt="Дополнительное изображение 2"
                                         loading="lazy">
                                </div>
                            </div>
                        </div>
                        <div class="detail-page__info">
                            <h1 class="">{{ goods.goods_item.name }}</h1>
                            <div class="detail-page__article">
                                <h3>Артикул: {{ goods.random_item.item.item_article }}</h3>
                                <h3 class="strong">Цена:
                                    {% if goods.random_item.price %}{{ goods.random_item.price }}{% else %}
                                        {{ goods.price }}{% endif %} руб.</h3>
                                <div class="detail-page__color-description">{{ goods.random_item.color_description|safe }}</div>
                            </div>
                            <div class="detail-page__description">
                                <h3>Описание товара</h3>
                                <div>{{ goods.goods_description|safe }}</div>
                            </div>
                            <div class="">
                                <div class="filter__content_data_color">
                                    <div class="square tooltip" style="background-color: #FF0000;">
                                        <div class="tooltip-text">Красный</div>
                                    </div>
                                    <div class="square tooltip" style="background-color: #00FF00;">
                                        <div class="tooltip-text">Зеленый</div>
                                    </div>
                                    <div class="square tooltip" style="background-color: #0000FF;">
                                        <div class="tooltip-text">Синий</div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn__save btn-sqr">
                                <div>В корзину&nbsp;</div>
                                <img src="{% static 'viki_web/icons/cart.svg' %}" alt="cart">
                            </button>
                            <div class="detail-page__tabs">
                                <div class="detail-page__tab">
                                    <h3>Техническая информация</h3>
                                    <div>
                                        размеры: 100x200x50 мм, вес: 500г
                                    </div>
                                    <div>
                                        <div>шаблоны:</div>
                                        <a href="#" target="_blank">
                                            <p>Шаблон 1</p>
                                            <i class="fa-regular fa-folder"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="detail-page__tab">
                                    <h3>Печать</h3>
                                    <div class="detail-page__print-data">
                                        <div>Шелкография</div>
                                        <div>Передняя часть</div>
                                        <div>1</div>
                                        <div>4</div>
                                        <div>50x50 мм</div>
                                    </div>
                                </div>
                                <div class="detail-page__tab">
                                    <h3>Упаковка</h3>
                                    <div class="detail-page__pack-data">
                                        <div>Коробка</div>
                                        <div>10</div>
                                        <div>5</div>
                                        <div>0.1</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="detail-page__related">
                    <h3>Похожие товары</h3>
                    <div class="detail-page__related_list">
                        <a href="#" class="detail-page__related_item">
                            <img src="{% static 'viki_web/icons/logo.svg' %}" alt="Похожий товар 1">
                            <div class="detail-page__related_info">
                                <h4>Название похожего товара</h4>
                                <p>Артикул: SIM-001</p>
                                <p class="strong">Цена: 1200 руб.</p>
                            </div>
                        </a>
                        <a href="#" class="detail-page__related_item">
                            <img src="{% static 'viki_web/icons/logo.svg' %}" alt="Похожий товар 2">
                            <div class="detail-page__similar-info">
                                <h5>Название похожего товара</h5>
                                <p>Артикул: SIM-002</p>
                                <p class="strong">Цена: 1500 руб.</p>
                            </div>
                        </a>
                    </div>
                </section>

                <section class="detail-page__related">
                    <h3>Сопутствующие товары</h3>
                    <div class="detail-page__related_list">
                        <a href="#" class="detail-page__related_item">
                            <img src="{% static 'viki_web/icons/logo.svg' %}" alt="Сопутствующий товар 1">
                            <div class="detail-page__related_info">
                                <h4>Название сопутствующего товара</h4>
                                <p>Артикул: REL-001</p>
                                <p class="strong">Цена: 800 руб.</p>
                            </div>
                        </a>
                        <a href="#" class="detail-page__related_item">
                            <img src="{% static 'viki_web/icons/logo.svg' %}" alt="Сопутствующий товар 2">
                            <div class="detail-page__related_info">
                                <h4>Название сопутствующего товара</h4>
                                <p>Артикул: REL-002</p>
                                <p class="strong">Цена: 600 руб.</p>
                            </div>
                        </a>
                    </div>
                </section>

                {#                <a href="{% url 'viki_web:products' category.product_group_url %}" class="detail-page__category">#}
                {#                    <i class="icon icon__arrow-left"></i>#}
                {#                    <span>Вернуться в категорию</span>#}
                {#                </a>#}
            </div>
        </div>
    </main>
{% endblock %} 