{% extends 'product_header.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <header class="product-header">
            <div class="product-header__title">
                <h1>{{ product_group.name }}</h1>
                <h3>{{ product_group.second_name }}</h3>
            </div>
        </header>
    </div>

    <main>
        <div class="container">
            <div class="products">
                {% for goods in goods_list %}
                    <section class="product product-hor"
                             data-id="{{ goods.goods_item.id }}"
                             data-goods-article="{{ goods.goods_item.article }}"
                             data-article-length="{{ goods.goods_item.details_number }}"
                            {% if goods.goods_item.multicolor %}
                             data-article-set="{{ goods.article_set }}"
                            {% endif %}
                    >
                        <h3>{{ goods.goods_item.name }}</h3>
                        <div class="product-hor__frame product-frame">
                            <div class="chevron-next chev-next"
                                 data-list="{{ goods.item_id }}"
                                 data-list-initial="{{ goods.item_id }}"
                            >
                                <div>следующий</div>
                                <i class="fa-solid fa-angles-right"></i>
                            </div>
                            {% for item in goods.item_list %}
                                <div class="product-hor__image-frame
                                {% if goods.id_random != item.item.id %} item-hidden item-opaque{% endif %}"
                                     data-id="{{ item.item.id }}"
                                     data-goods="{{ goods.goods_item.id }}"
                                     data-article="{{ item.item.item_article }}"
                                     data-description="{{ item.color_description }}"
                                     data-price="{% if item.price %}
                                               {{ item.price }}
                                             {% else %}
                                               {{ goods.price }}
                                             {% endif %}"
                                >
                                    <div>
                                        <img class="product-hor__img"
                                             src="/static/viki_web_cms/files/item_photo/{{ item.item.image }}"
                                             alt="{{ item.item.item_article }}"
                                             loading="lazy">
                                    </div>
                                </div>
                            {% endfor %}
                            <div>
                                <div class="product-hor__color-description">
                                    {{ goods.random_item.color_description }}
                                </div>
                                <div class="product-hor__tab-main_title">
                                    <h4>Артикул: <strong
                                            class="strong article">{{ goods.random_item.item.item_article }}</strong>
                                    </h4>
                                    <h4 class="">Цена{% if goods.price_volume %} от{% endif %}:
                                        <span class="strong price">
                                        {% if goods.random_item.price %}
                                            {{ goods.random_item.price }}
                                        {% else %}
                                            {{ goods.price }}
                                        {% endif %}
                                    </span>
                                    </h4>
                                </div>
                                <div class="filter__content_data_color color-padding">
                                    {% for color in goods.colors %}
                                        <input type="radio"
                                               id="item-color-{{ color.id }}_{{ color.main_color__hex|slice:"1:" }}"
                                               name="color-picker"
                                               class="product-header__filter-content_checkbox-hidden"
                                               data-id="{{ color.id }}"
                                                {% if  goods.id_random == color.id %} checked {% endif %}
                                               hidden>
                                        <label for="item-color-{{ color.id }}_{{ color.main_color__hex|slice:"1:" }}"
                                               class="color-label"
                                               data-id="{{ color.id }}"
                                               data-hex="{{ color.main_color__hex|slice:"1:" }}"
                                                {% if goods.goods_item.multicolor %} hidden {% endif %}
                                        >
                                            <div class="square tooltip"
                                                 data-id="{{ color.id }}"
                                                 style="background-color: {{ color.main_color__hex }};">
                                                <div class="tooltip-text">{{ color.main_color__name }}</div>
                                            </div>
                                            <div class="color-label__check"
                                                 data-id="{{ color.id }}"
                                                    {% if goods.id_random == color.id %}
                                                 style="display:block;"  {% endif %}
                                            ></div>
                                        </label>
                                    {% endfor %}
                                    {% if goods.goods_item.multicolor %}
                                        <button class="btn btn__cancel btn-multicolor">варианты сочетаний элементов
                                            - {{ goods.item_list|length }}</button>
                                        {% for color in goods.colors %}
                                            <input type="checkbox"
                                                   id="item-color-{{ item.item.id }}_{{ color.main_color__hex|slice:"1:" }}"
                                                   name="{{ color.name }}"
                                                   class="product-header__filter-content_checkbox-hidden"
                                                   data-id="{{ item.item.id }}"
                                                    {% if  item.item.id == color.id %} checked {% endif %}
                                                   hidden>
                                            <label hidden
                                                   for="item-color-{{ item.item.id }}_{{ color.main_color__hex|slice:"1:" }}"
                                                   class="color-label"
                                                   data-item-id="{{ color.id }}"
                                                   data-hex="{{ color.main_color__hex|slice:"1:" }}"
                                            >
                                                <div class="square tooltip"
                                                     style="background-color: {{ color.main_color__hex }};">
                                                    <div class="tooltip-text">{{ color.main_color__name }}</div>
                                                </div>
                                                <div class="color-label__check"
                                                        {% if item.item.id == color.id %}
                                                     style="display:block;"  {% endif %}
                                                ></div>
                                            </label>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div>
                                    <div class="product-hor__tab-btn-block tab-btn-block">
                                        <button class="product-hor__tab-btn tab-btn tab-active"
                                                type="button" data-id="description-{{ item.item.id }}">
                                            описание
                                        </button>
                                        <button class="product-hor__tab-btn tab-btn"
                                                type="button" data-id="tech-{{ item.item.id }}">
                                            тех. информация
                                        </button>
                                        <button class="product-hor__tab-btn tab-btn"
                                                type="button" data-id="print-{{ item.item.id }}">
                                            печать
                                        </button>
                                        <button class="product-hor__tab-btn tab-btn"
                                                type="button" data-id="pack-{{ item.item.id }}">
                                            упаковка
                                        </button>
                                    </div>
                                    <div class="product-hor__tab-content tab-content">
                                        <div class="product-hor__tab tab tab-show"
                                             data-id="description-{{ item.item.id }}">
                                            <article>
                                                {{ goods.goods_description }}
                                            </article>
                                        </div>
                                        <div class="product-hor__tab tab"
                                             data-id="tech-{{ item.item.id }}">
                                            <div>
                                                размеры: {{ goods.dimensions }},&nbsp;&nbsp;вес: {{ goods.goods_item.weight }}г
                                            </div>
                                            <div>
                                                <div>шаблоны:</div>
                                                {% for layout in goods.print_layout %}
                                                    <a href="{% static 'viki_web_cms/files/layout' %}
                                                        {{ layout.layout.layout.file.name }}"
                                                       target="_blank">
                                                        <p>{{ layout.name }}</p>
                                                        <i class="fa-regular fa-folder"></i>
                                                    </a>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="product-hor__tab tab"
                                             data-id="print-{{ item.item.id }}">
                                            <div class="product-hor__tab-print_data">
                                                <div>тип</div>
                                                <div>место</div>
                                                <div>кол-во позиций</div>
                                                <div>кол-во цветов</div>
                                                <div>размер</div>
                                            </div>
                                            {% for print in goods.print_data %}
                                                <div class="product-hor__tab-print_data">
                                                    <div>{{ print.print_type }}</div>
                                                    <div>{{ print.print_place }}</div>
                                                    <div>{{ print.place_quantity }}</div>
                                                    <div>{{ print.color_quantity }}</div>
                                                    <div>{{ print.dimensions }}</div>
                                                </div>{% endfor %}
                                        </div>
                                        <div class="product-hor__tab tab"
                                             data-id="pack-{{ item.item.id }}">
                                            <div class="product-hor__tab-pack">
                                                <div>упаковка</div>
                                                <div>штук в упаковке</div>
                                                <div>вес, кг</div>
                                                <div>объем, м3</div>
                                            </div>
                                            {% for pack in goods.packing %}
                                                <div class="product-hor__tab-pack">
                                                    <div>{{ pack.box__name }}</div>
                                                    <div>{{ pack.quantity_in }}</div>
                                                    <div>{{ pack.box_weight }}</div>
                                                    <div>{{ pack.box__volume }}</div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="product-hor__btn-block ">
                                        <button class="btn btn__save btn-hor ">
                                            <div>
                                                В корзину&nbsp;
                                            </div>
                                            <img src="{% static 'viki_web/icons/cart.svg' %}"
                                                 alt="cart" class="">
                                        </button>
                                        <a class="btn-hor"
                                           href="{% url 'viki_web:product_detail' goods.goods_item.slug %}">
                                            <button
                                                    class="btn btn__cancel btn-sqr">
                                                <div>
                                                    Подробнее&nbsp;
                                                </div>
                                                <i class="fa-solid fa-arrow-right"></i>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                    </section>
                {% endfor %}
            </div>
        </div>
    </main>
    <section>
        <div class="container">
            <div class="goods-group">
                {% for group in goods_groups %}
                    <a class="goods-group__item"
                       href="{% url 'viki_web:goods_group' group.goods_group_url %}">{{ group.name }}</a>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
