<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Вики Восток</title>
    <link rel="icon" type="image/x-icon" href="{% static 'viki_web/icons/logo.svg' %}">

    {#    <script src="{% static 'production/js/dist/login.bundle.js' %}" defer type="module"></script>#}
    <script src="{% static 'viki_web/js/login.js' %}" defer type="module"></script>
    <script src="https://kit.fontawesome.com/e2a5b405b2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'viki_web/css/style.css' %}">

    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

</head>
<body>

<header>
 <div class="container">
        <div class="test">
            <div class="test__block c1"></div>
            <div class="test__block c2"></div>
            <div class="test__block c3"></div>
            <div class="test__block c4"></div>
            <div class="test__block c5"></div>
            <div class="test__block c6"></div>
            <div class="test__block c7"></div>
            <div class="test__block c8"></div>
            <div class="test__block c9"></div>
            <div class="test__block c10"></div>
            <div class="test__block c11"></div>
            <div class="test__block c12"></div>
            <div class="test__block c13"></div>
            <div class="test__block c14"></div>
            <div class="test__block c15"></div>
            <div class="test__block c16"></div>
            <div class="test__block c17"></div>
            <div class="test__block c18"></div>
            <div class="test__block c19"></div>
            <div class="test__block c20"></div>
            <div class="test__block c21"></div>
            <div class="test__block c22"></div>
            <div class="test__block c23"></div>
            <div class="test__block c24"></div>
            <div class="test__block c26"></div>
            <div class="test__block c26"></div>
            <div class="test__block c27"></div>

        </div>
    </div>

</header>

</body>
</html>