@import "vars";
@import "mixins";

.dropdown {
  position: relative;

  &__input {
    width: 100%;
    @include brd-standard;
    padding: 8px;
    position: relative;
    &_icon{
      position: absolute;
      right: 0;
      padding: 8px;
    }
  }

  &__list {
    position: absolute;
    width: 100%;
    //display: none;
    //padding: 8px;
    max-height: 300px;
    overflow-y: auto;
    z-index: 3;
    @include brd-standard;
    background-color: #fff;

    &_item {
      padding: 8px;

      &:hover {
        background-color: rgba($colorNeutral500, 0.3);
      }
    }
  }
}