@import "vars";
@import "mixins";

.files-element {
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);


  &__header {
    display: grid;
    grid-template-columns: 1fr 2fr 4fr 120px 120px 10px;
    padding: 4px 16px 2px 4px;
    gap: 8px;

  }

  &__item {
    display: grid;
    grid-template-columns: 1fr 2fr 4fr 120px 120px 10px;
    padding: 4px 16px 2px 4px;
    gap: 8px;
    background-color: #fff;
  }

  &__message {
    top: 20%;
    left: 45%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 8px;
    border: none;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
  }

  &__strong {
    font-weight: 600;
  }

  &__btn-block {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    width: 100%;
  }

  &__modal {
    top: 20%;
    left: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //gap: 8px;
    padding: 16px 8px;
    width: 560px;
    height: 420px;
    border: none;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }


}