@import "vars";
@import "mixins";

.content {
  display: flex;
  margin-top: 68px;
  gap: 8px;
  //position: relative;

  &__left {
    display: flex;
    flex-direction: column;
    width: 14vw;
    @include brd-standard;
    padding: 20px;
    gap: 20px;
    max-height: calc(100% - 78px);
    position: fixed;
    overflow: auto;
  }

  &__right {
    display: flex;
    flex-direction: column;
    margin-left: calc(14vw + 14px);
    width: 100%;
  }
}

.section-left {
  display: flex;
  flex-direction: column;
  cursor: pointer;

  :hover {
    font-weight: 600;
  }

  &__content {
    padding: 12px 0 0 14px;
    cursor: pointer;

    :hover {
      font-weight: 600;
    }
  }
}