@import 'scss/vars';
@import 'scss/mixins';
@import "scss/main";
@import "scss/dropdown";
@import "scss/header";
@import "scss/index";
@import "scss/cabinet";
@import "scss/product_header";
@import "scss/product_sqr";
@import "scss/product_hor";
@import "scss/constructor";
@import "scss/login";
@import "scss/detail_page";
@import "scss/layout";
@import "scss/price";
@import "scss/cart";
@import "scss/cart_alert";
@import "scss/about";
@import "scss/cookie";
@import "scss/legal";
@import "scss/footer";
@import "scss/sitemap";
@import "scss/branding_add";
@import "scss/quote";
@import "scss/order";
