@import 'scss/vars';
@import 'scss/mixins';
@import "scss/main";
@import "scss/header";
@import "scss/index";
@import "scss/cabinet";
@import "scss/product_header";
@import "scss/product_sqr";
@import "scss/product_hor";
@import "scss/constructor";
@import "scss/login";
@import "scss/detail_page";
@import "scss/layout";
@import "scss/price";
